:root {
    --primary-color: #868686;
    --white-color: #fffdfd;
    --light-gray-color: #EEEEEE;
    --secondary-color: rgb(249, 32, 75);
    --gap: 3rem;
    --black-color: #000000;
    --blue-color: #00eeff;
    --purple-color: #eedcff;
    --main-color: #1a708875;
}